In [1]:
# Import the necessary packages
import pandas as pd
import os
from datetime import datetime

In [2]:
os.getcwd() # gives you the path to the current working directory

# This will change the directory 
os.chdir('C:/Users/AdithiPriya/Desktop/Hack for LA/Geospatial analysis')

# Since the 311 request data file is so huge, we set the low_memory = False...
la_311 = pd.read_csv('MyLA311_Service_Request_Data_2020.csv', low_memory=False) 
crime_data = pd.read_csv('Crime_Data_from_2020_to_Present.csv')

In [3]:
# Filter out the bulky items request type.
la_311_filtered = la_311[la_311['RequestType']== 'Bulky Items']
la_311_filtered.head(2)

,SRNumber,CreatedDate,UpdatedDate,ActionTaken,Owner,RequestType,Status,RequestSource,CreatedByUserOrganization,MobileOS,...,Location,TBMPage,TBMColumn,TBMRow,APC,CD,CDMember,NC,NCName,PolicePrecinct
3,1-1523596222,01/01/2020 12:19:00 AM,01/03/2020 07:02:00 AM,SR Created,BOS,Bulky Items,Closed,Mobile App,Self Service,Android,...,"(34.0724397675, -118.287797874)",634,A,1.0,Central APC,13.0,Mitch O'Farrell,53.0,RAMPART VILLAGE NC,OLYMPIC
15,1-1523594691,01/01/2020 12:59:00 AM,01/03/2020 12:47:00 PM,SR Created,BOS,Bulky Items,Closed,Self Service,Self Service,NaN,...,"(34.1519089581, -118.560349863)",560,F,4.0,South Valley APC,3.0,Bob Blumenfield,17.0,TARZANA NC,WEST VALLEY

In [4]:
# Since both the dataframes have many column, let us remove the unnecessary ones...
la_311_filtered=la_311_filtered[['SRNumber','CreatedDate', 'UpdatedDate', 'NC', 'NCName', 'RequestType','RequestSource','Address','ZipCode', 'Latitude', 'Longitude', 'Location', 'PolicePrecinct' ]]
la_311_filtered.head(10)

,SRNumber,CreatedDate,UpdatedDate,NC,NCName,RequestType,RequestSource,Address,ZipCode,Latitude,Longitude,Location,PolicePrecinct
3,1-1523596222,01/01/2020 12:19:00 AM,01/03/2020 07:02:00 AM,53.0,RAMPART VILLAGE NC,Bulky Items,Mobile App,"132 S WESTMORELAND AVE, 90004",90004,34.072440,-118.287798,"(34.0724397675, -118.287797874)",OLYMPIC
15,1-1523594691,01/01/2020 12:59:00 AM,01/03/2020 12:47:00 PM,17.0,TARZANA NC,Bulky Items,Self Service,"19630 W VALDEZ DR, 91356",91356,34.151909,-118.560350,"(34.1519089581, -118.560349863)",WEST VALLEY
21,1-1523597781,01/01/2020 01:10:00 AM,01/02/2020 08:50:00 AM,54.0,MACARTHUR PARK NC,Bulky Items,Mobile App,"2780 W SAN MARINO ST, 90006",90006,34.054878,-118.288510,"(34.0548783562, -118.288509814)",OLYMPIC
25,1-1523596801,01/01/2020 01:19:00 AM,01/02/2020 02:14:00 PM,44.0,ECHO PARK NC,Bulky Items,Mobile App,"619 N BONNIE BRAE ST, 90026",90026,34.072712,-118.264291,"(34.0727121063, -118.264290482)",RAMPART
28,1-1523595121,01/01/2020 01:36:00 AM,01/02/2020 01:33:00 PM,4.0,GRANADA HILLS NORTH NC,Bulky Items,Mobile App,"16256 W HORACE ST, 91344",91344,34.270373,-118.486833,"(34.2703726627, -118.486832919)",DEVONSHIRE
32,1-1523597171,01/01/2020 02:04:00 AM,01/02/2020 10:43:00 AM,26.0,SHERMAN OAKS NC,Bulky Items,Email,"4510 N COLBATH AVE, 91423",91423,34.153322,-118.436480,"(34.1533217534, -118.436479705)",VAN NUYS
36,1-1523599681,01/01/2020 02:18:00 AM,01/02/2020 08:25:00 AM,53.0,RAMPART VILLAGE NC,Bulky Items,Email,"530 S BENTON WAY, 90057",90057,34.063698,-118.281491,"(34.0636984746, -118.281490496)",RAMPART
37,1-1523600481,01/01/2020 02:20:00 AM,01/02/2020 08:50:00 AM,118.0,GRANADA HILLS SOUTH NC,Bulky Items,Self Service,"16820 W CHATSWORTH ST, 91344",91344,34.264496,-118.498366,"(34.2644963321, -118.498365964)",DEVONSHIRE
41,1-1523602551,01/01/2020 02:43:00 AM,01/04/2020 09:20:00 AM,119.0,GREATER WILSHIRE NC,Bulky Items,Call,"5141 W LA VISTA CT, 90004",90004,34.082161,-118.315047,"(34.0821612011, -118.315047232)",OLYMPIC
47,1-1523599911,01/01/2020 03:28:00 AM,01/02/2020 10:49:00 AM,25.0,NC VALLEY VILLAGE,Bulky Items,Self Service,"4955 N WHITSETT AVE, 91607",91607,34.160901,-118.405390,"(34.160901162, -118.405390225)",NORTH HOLLYWOOD

In [5]:
# There are 2 date columns in the crime_data df (dataframe). So I am going to choose 
# DATE OCC column and filter the year 2020 using that column...

# Convert the 'DATE OCC' string type to datetime and then filter the year 2020

crime_data['year']= pd.to_datetime(crime_data['DATE OCC']).dt.year 

crime_data_2020 =crime_data[crime_data['year']==2020]
crime_data_2020.head(10)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,year
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978,2020
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545,2020
2,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019,2020
3,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468,2020
4,200100501,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,30,1,Central,163,1,121,"RAPE, FORCIBLE",...,Invest Cont,121.0,998.0,NaN,NaN,700 S BROADWAY,NaN,34.0452,-118.2534,2020
5,200100502,01/02/2020 12:00:00 AM,01/02/2020 12:00:00 AM,1315,1,Central,161,1,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),...,Invest Cont,442.0,998.0,NaN,NaN,700 S FIGUEROA ST,NaN,34.0483,-118.2631,2020
6,200100504,01/04/2020 12:00:00 AM,01/04/2020 12:00:00 AM,40,1,Central,155,2,946,OTHER MISCELLANEOUS CRIME,...,Invest Cont,946.0,998.0,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474,2020
7,200100507,01/04/2020 12:00:00 AM,01/04/2020 12:00:00 AM,200,1,Central,101,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,Invest Cont,341.0,998.0,NaN,NaN,700 BERNARD ST,NaN,34.0677,-118.2398,2020
8,200100509,01/04/2020 12:00:00 AM,01/04/2020 12:00:00 AM,2200,1,Central,192,1,330,BURGLARY FROM VEHICLE,...,Invest Cont,330.0,NaN,NaN,NaN,15TH,OLIVE,34.0359,-118.2648,2020
9,200100510,01/05/2020 12:00:00 AM,01/05/2020 12:00:00 AM,955,1,Central,111,2,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,...,Invest Cont,930.0,NaN,NaN,NaN,800 N ALAMEDA ST,NaN,34.0615,-118.2412,2020

In [6]:
# Renaming the column. Note: you can also use this- pd.merge(df1, df2, left_on='col_name', right_on='col_name') without having 
# to rename but you will end up with 2 columns. This is the cleaner way of doing it.
crime_data_2020 = crime_data_2020.rename(columns= {'AREA NAME': 'PolicePrecinct'})

crime_data_2020.head(10)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,PolicePrecinct,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,year
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978,2020
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545,2020
2,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019,2020
3,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468,2020
4,200100501,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,30,1,Central,163,1,121,"RAPE, FORCIBLE",...,Invest Cont,121.0,998.0,NaN,NaN,700 S BROADWAY,NaN,34.0452,-118.2534,2020
5,200100502,01/02/2020 12:00:00 AM,01/02/2020 12:00:00 AM,1315,1,Central,161,1,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),...,Invest Cont,442.0,998.0,NaN,NaN,700 S FIGUEROA ST,NaN,34.0483,-118.2631,2020
6,200100504,01/04/2020 12:00:00 AM,01/04/2020 12:00:00 AM,40,1,Central,155,2,946,OTHER MISCELLANEOUS CRIME,...,Invest Cont,946.0,998.0,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474,2020
7,200100507,01/04/2020 12:00:00 AM,01/04/2020 12:00:00 AM,200,1,Central,101,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,Invest Cont,341.0,998.0,NaN,NaN,700 BERNARD ST,NaN,34.0677,-118.2398,2020
8,200100509,01/04/2020 12:00:00 AM,01/04/2020 12:00:00 AM,2200,1,Central,192,1,330,BURGLARY FROM VEHICLE,...,Invest Cont,330.0,NaN,NaN,NaN,15TH,OLIVE,34.0359,-118.2648,2020
9,200100510,01/05/2020 12:00:00 AM,01/05/2020 12:00:00 AM,955,1,Central,111,2,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,...,Invest Cont,930.0,NaN,NaN,NaN,800 N ALAMEDA ST,NaN,34.0615,-118.2412,2020

In [7]:
# Removinge the unnecessary columns from crime_data_2020...You can redo this depending upon how you want to go with the analysis...

crime_data_2020= crime_data_2020[['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA','Crm Cd Desc', 'Premis Desc', 'PolicePrecinct','LOCATION', 'LAT', 'LON', 'year' ]]
crime_data_2020.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,Crm Cd Desc,Premis Desc,PolicePrecinct,LOCATION,LAT,LON,year
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,BATTERY - SIMPLE ASSAULT,SINGLE FAMILY DWELLING,Southwest,1100 W 39TH PL,34.0141,-118.2978,2020
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,BATTERY - SIMPLE ASSAULT,SIDEWALK,Central,700 S HILL ST,34.0459,-118.2545,2020
2,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,VANDALISM - MISDEAMEANOR ($399 OR UNDER),"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",N Hollywood,5400 CORTEEN PL,34.1685,-118.4019,2020
3,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",BEAUTY SUPPLY STORE,Mission,14400 TITUS ST,34.2198,-118.4468,2020
4,200100501,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,30,1,"RAPE, FORCIBLE",NIGHT CLUB (OPEN EVENINGS ONLY),Central,700 S BROADWAY,34.0452,-118.2534,2020

In [8]:
crime_data_2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 198490 entries, 0 to 198489
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           198490 non-null  int64
 1   Date Rptd       198490 non-null  object
 2   DATE OCC        198490 non-null  object
 3   TIME OCC        198490 non-null  int64
 4   AREA            198490 non-null  int64
 5   Crm Cd Desc     198490 non-null  object
 6   Premis Desc     198422 non-null  object
 7   PolicePrecinct  198490 non-null  object
 8   LOCATION        198490 non-null  object
 9   LAT             198490 non-null  float64
 10  LON             198490 non-null  float64
 11  year            198490 non-null  int64
dtypes: float64(2), int64(4), object(6)
memory usage: 19.7+ MB

In [10]:
la_311_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 713535 entries, 3 to 1491772
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   SRNumber        713535 non-null  object
 1   CreatedDate     713535 non-null  object
 2   UpdatedDate     713535 non-null  object
 3   NC              710384 non-null  float64
 4   NCName          710384 non-null  object
 5   RequestType     713535 non-null  object
 6   RequestSource   713535 non-null  object
 7   Address         713535 non-null  object
 8   ZipCode         713280 non-null  object
 9   Latitude        713451 non-null  float64
 10  Longitude       713451 non-null  float64
 11  Location        713451 non-null  object
 12  PolicePrecinct  713446 non-null  object
dtypes: float64(3), object(10)
memory usage: 76.2+ MB

In [11]:
# MErging the two dataframes.
df_merge= pd.merge(la_311_filtered, crime_data_2020, on= 'PolicePrecinct', how='left')
df_merge.head(10)

,SRNumber,CreatedDate,UpdatedDate,NC,NCName,RequestType,RequestSource,Address,ZipCode,Latitude,...,Date Rptd,DATE OCC,TIME OCC,AREA,Crm Cd Desc,Premis Desc,LOCATION,LAT,LON,year
0,1-1523596222,01/01/2020 12:19:00 AM,01/03/2020 07:02:00 AM,53.0,RAMPART VILLAGE NC,Bulky Items,Mobile App,"132 S WESTMORELAND AVE, 90004",90004,34.072440,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1-1523594691,01/01/2020 12:59:00 AM,01/03/2020 12:47:00 PM,17.0,TARZANA NC,Bulky Items,Self Service,"19630 W VALDEZ DR, 91356",91356,34.151909,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1-1523597781,01/01/2020 01:10:00 AM,01/02/2020 08:50:00 AM,54.0,MACARTHUR PARK NC,Bulky Items,Mobile App,"2780 W SAN MARINO ST, 90006",90006,34.054878,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1-1523596801,01/01/2020 01:19:00 AM,01/02/2020 02:14:00 PM,44.0,ECHO PARK NC,Bulky Items,Mobile App,"619 N BONNIE BRAE ST, 90026",90026,34.072712,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1-1523595121,01/01/2020 01:36:00 AM,01/02/2020 01:33:00 PM,4.0,GRANADA HILLS NORTH NC,Bulky Items,Mobile App,"16256 W HORACE ST, 91344",91344,34.270373,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1-1523597171,01/01/2020 02:04:00 AM,01/02/2020 10:43:00 AM,26.0,SHERMAN OAKS NC,Bulky Items,Email,"4510 N COLBATH AVE, 91423",91423,34.153322,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1-1523599681,01/01/2020 02:18:00 AM,01/02/2020 08:25:00 AM,53.0,RAMPART VILLAGE NC,Bulky Items,Email,"530 S BENTON WAY, 90057",90057,34.063698,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1-1523600481,01/01/2020 02:20:00 AM,01/02/2020 08:50:00 AM,118.0,GRANADA HILLS SOUTH NC,Bulky Items,Self Service,"16820 W CHATSWORTH ST, 91344",91344,34.264496,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1-1523602551,01/01/2020 02:43:00 AM,01/04/2020 09:20:00 AM,119.0,GREATER WILSHIRE NC,Bulky Items,Call,"5141 W LA VISTA CT, 90004",90004,34.082161,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1-1523599911,01/01/2020 03:28:00 AM,01/02/2020 10:49:00 AM,25.0,NC VALLEY VILLAGE,Bulky Items,Self Service,"4955 N WHITSETT AVE, 91607",91607,34.160901,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###  Like I said, in the above pd_merge dataframe, you have NAN values because the string case in the PolicePrecinct column has to be identical in both the dataframes for the merging to happen without NAN values. Either you can fix it in the csv file. Please send me the file after fixing it and then I can take a look at it. So surmising- merging works now. But, we have to address the NAN values.